<div class='card'>
  <div class='card-header'>
    {{pageTitle}}
  </div>
  <div class='card-body'>
    <form novalidate
          (ngSubmit)="saveMeeting()"
          [formGroup]="meetingForm">

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="id">Meeting Subject</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="meetingSubject"
                 type="text"
                 placeholder="Meeting Subject (required)"
                 formControlName="meetingSubject"
                 [ngClass]="{'is-invalid': displayMessage.meetingSubject }" />
          <span class="invalid-feedback">
            {{displayMessage.meetingSubject}}
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="agenda">Meeting Agenda</label>
        <div class="col-md-8">
          <textarea class="form-control"
                    id="agenda"
                    type="text"
                    placeholder="Meeting Agenda (required)"
                    formControlName="agenda"
                    [ngClass]="{'is-invalid': displayMessage.agenda}">
          </textarea>
          <span class="invalid-feedback">
            {{displayMessage.agenda}}
          </span>
        </div>
      </div>
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="agenda">Meeting Agenda</label>
        <div class="col-md-8">
          <ngx-select-dropdown (change)="attendeesSelectionChanged($event)"
                               [multiple]="true"
                               [config]="attendeesConfig"
                               [options]="attendees"></ngx-select-dropdown>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="agenda">Selected Attendees</label>
        <div class="col-md-8">
          <textarea class="form-control"
                    id="agenda"
                    type="text"
                    placeholder="Meeting Attendees (required)"
                    formControlName="agenda"
                    [ngClass]="{'is-invalid': displayMessage.Attendees}"
                    readonly>
          </textarea>
          <span class="invalid-feedback">
            {{displayMessage.Attendees}}
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="agenda">Meeting DateTime</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="agenda"
                 type="text"
                 placeholder="Meeting DateTime (required)"
                 formControlName="meetingDataTime"
                 [ngClass]="{'is-invalid': displayMessage.meetingDataTime}" />
          <span class="invalid-feedback">
            {{displayMessage.meetingDataTime}}
          </span>
        </div>
      </div>
      <div class="form-group row mb-2">
        <div class="offset-md-2 col-md-4">
          <button class="btn btn-primary mr-3"
                  style="width:80px;"
                  type="submit"
                  [title]="meetingForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
                  [disabled]="!meetingForm.valid">
            Save
          </button>
          <button class="btn btn-outline-secondary mr-3"
                  style="width:80px;"
                  type="button"
                  title="Cancel your edits"
                  [routerLink]="['/meetings']">
            Cancel
          </button>
          <button class="btn btn-outline-warning"
                  style="width:80px"
                  type="button"
                  title="Delete this meeting"
                  (click)="deleteMeeting()">
            Delete
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
